.homepage {
  color: $color-white;
  &__img {
    @include respond(phone) {
      width: 95%;
      border-radius: 1rem;
      margin-top: 4rem;
      margin-bottom: 3rem;
    }
  }

  &__text {
    @include respond(phone) {
      width: 95%;
      line-height: 1.35;
      letter-spacing: 0.1rem;
      font-weight: 450;
    }
  }
}
